@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 14% 97%;
    --foreground: 210 100% 5%;
    --card: 0 0% 100%;
    --card-foreground: 210 100% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 5%;
    --primary: 47 98% 55%;
    --primary-foreground: 210 100% 4%;
    --secondary: 45 10% 92%;
    --secondary-foreground: 210 100% 5%;
    --muted: 0 0% 95%;
    --muted-foreground: 240 2% 42%;
    --accent: 45 20% 90%;
    --accent-foreground: 210 100% 5%;
    --destructive: 15 100% 50%;
    --destructive-foreground: 210 100% 4%;
    --border: 45 8% 88%;
    --input: 45 8% 88%;
    --ring: 47 98% 55%;
    --radius: 0.625rem;
    --gold: 47 98% 55%;
    --success: 159 63% 41%;
    --chart-1: 47 98% 55%;
    --chart-2: 15 100% 50%;
    --chart-3: 210 100% 18%;
    --chart-4: 189 100% 49%;
    --chart-5: 210 100% 5%;
  }

  .dark:root {
    --background: 210 100% 3%;
    --foreground: 0 0% 94%;
    --card: 210 80% 6%;
    --card-foreground: 0 0% 94%;
    --popover: 210 80% 6%;
    --popover-foreground: 0 0% 94%;
    --primary: 47 98% 55%;
    --primary-foreground: 210 100% 4%;
    --secondary: 210 30% 12%;
    --secondary-foreground: 0 0% 94%;
    --muted: 210 30% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 40% 14%;
    --accent-foreground: 0 0% 94%;
    --destructive: 15 100% 55%;
    --destructive-foreground: 210 100% 4%;
    --border: 210 30% 14%;
    --input: 210 30% 14%;
    --ring: 47 98% 55%;
    --radius: 0.625rem;
    --gold: 47 98% 55%;
    --success: 158 64% 55%;
    --chart-1: 47 98% 55%;
    --chart-2: 15 100% 55%;
    --chart-3: 210 100% 22%;
    --chart-4: 189 100% 45%;
    --chart-5: 0 0% 94%;
  }
}